.main-login {
  width: 100vw;
  height: 100vh;
  background-color: #212233;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.left-login {
  width: 60vw;
  height: 78.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom, #F20675 0%, #07F3F3 100%);
  border-radius: 10px 0 0 10px;
}

.left-login > h2 {
  color: #000;
  text-align: center;
  font-family: Bungee, sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 1.6;
}

img {
  width: 20vw;
}

.right-login {
  width: 40vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
}

.card-login > h2 {
  color: #000;
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: Inter, sans-serif;
  text-align: center;
}

form {
  width: 350px;
  margin: 20px 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #000;
}

input[type="email"], input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

a {
  margin-bottom: 5px;
}