:root {
  --primary-color: #f20675;
  --secundary-color: #07F3F3;
}

.main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.image-background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(.4);
}

.text-overlay {
  width: 70%;
  height: 70%;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.main-title {
  font-size: 60px;
  height: auto;
  width: auto;
  font-family: "Bungee", sans-serif;
  background: linear-gradient(to bottom, #F20675 0%, #07F3F3 100%);
  background-clip: text;
  color: transparent;
  margin-bottom: 10px; /* Margem ajustada para a seta */
}

.main-description {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: transparent;
  margin: 0;
}


.image-background::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #212226, rgba(33, 34, 38, 0) 10%, rgba(33, 34, 38, 1));
}

.align-arrow {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 20px; /* Adiciona uma margem inferior para espaçamento */
}

.down-arrow {
  width: 100%;
  height: 100%;
  background-image: url(../img/down-arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.down-arrow:hover {
  filter: invert(1);
}



.bottons {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  background-color: #07F3F3; /* Default background color */
  font-family: "Bungee", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for background and transform */
}

.btn1 {
  background-color: #07F3F3;
}

.btn2 {
  background-color: #F20675;
}

.btn3 {
  background-color: #07F3F3;
}

/* Efeito ao passar o mouse */
.btn:hover {
  background: linear-gradient(to right, #F20675, #07F3F3);
  color: #ffffff;
  transform: scale(1.05); /* Leve aumento do botão */
}

/* Adicionando um efeito de pseudo-elemento para o hover */
.btn span::before {
  content: 'ver regras';
  font-size: 16px;
  color: #ffffff;
  transition: opacity 0.3s; /* Suavizar a transição da opacidade */
}

.btn:hover span::before {
  opacity: 0.8; /* Tornar o texto um pouco mais visível ao passar o mouse */
}


.informations {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 80vh;
}

.box-teamsaward {
  height: 60%;
  width: 70%;
  background-color: #2e2c2d;
  position: absolute;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block; /* Temporarily visible */
  padding: 20px; /* Optional: Add padding to the container */
}

.box-teamsaward h1 {
  margin: 0;
  padding: 0;
  color: white; /* For better visibility */
  text-align: center;
  margin-top: 20px; /* Adjust this value as needed to move the text down from the top */
}


.box-teamsrules {
  height: 60%;
  width: 70%;
  background-color: #2e2c2d;
  margin: auto;
  position: absolute; /* Position absolutely within the parent container */
  border-radius: 5px;
  display: flex; /* Enable flexbox */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  display: none; /* Hide all by default */
}

.box-teamsrules h1 {
  margin: 0;
  padding: 0;
  color: white; /* For better visibility */
  text-align: center;
  margin-top: 20px; /* Adjust this value as needed to move the text down from the top */
}

.box-teams-createby {
  height: 60%;
  width: 70%;
  background-color: #2e2c2d;
  margin: auto;
  position: absolute; /* Permanece para posicionamento dentro do container pai */
  top: 50%; /* Posiciona verticalmente no meio da tela */
  left: 50%; /* Posiciona horizontalmente no meio da tela */
  transform: translate(-50%, -50%); /* Centraliza a div em relação ao seu próprio centro */
  border-radius: 5px;
  display: flex; /* Ativa o flexbox */
  align-items: center; /* Centraliza verticalmente o conteúdo */
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
  display: none; /* Esconde todos por padrão */
}

.invite-button {
  height: 100%;
  width: 100%;
  background-color: #07F3F3; /* Cor de fundo do botão */
  color: #fafafa; /* Cor do texto */
  padding: 15px 30px; /* Espaçamento interno do botão */
  text-decoration: none; /* Remove sublinhado do link */
  text-align: center;
  border-radius: 5px; /* Bordas arredondadas */
  position: absolute;
  font-size: 25px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}


.invite-button:hover {
  background-color: #F20675; /* Cor de fundo ao passar o mouse */
}



/* Optional styling for visibility */
.box-teamsaward.show, .box-teamsrules.show, .box-teams-createby.show {
  display: block; /* Show when the .show class is added */
}



