:root {
  --bg: #212226;
  --color: #ffffff;
  --border-nav: 1px solid #d9d9d9;
  --primary-color: #f20675;
  --secundary-color: #07f3f3;
  --red-button: #de3d3d;
  --green-button: #41f1c0;
  --green-button-hover: #0fa177;
  --bg-input: #e0e0e0;

  --font: 'Inter', sans-serif;
  --nav-size: 94px;
  --footer-size: 230px;
}

body {
  background: var(--bg);
  color: var(--color);
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

section {
  min-height: calc(100vh - var(--footer-size) - var(--nav-size));
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px 280px;
  margin: 40px;
}

.main-title {
  font-size: 50px;
  font-family: "Bungee";
  margin-bottom: 20px;
  background: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--secundary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--bg);
  width: 100%;
  box-sizing: border-box;
  background: var(--bg-input);
  color: var(--bg);
}

.input.ql-snow {
  border-radius: 0 0 8px 8px;
  padding: 0;
}

.ql-toolbar {
  background: var(--bg-input);
  border-radius: 8px 8px 0 0;
}

.ql-tooltip.ql-editing {
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: auto;
  padding: 8px !important;
}

.ql-tooltip.ql-editing > input {
  padding: 8px 4px !important;
  border-radius: 8px !important;
}

a.ql-action {
  background: var(--green-button);
  padding: 4px 8px;
  color: var(--bg) !important;
  text-align: center;
  border-radius: 8px;
}

.ql-snow .ql-tooltip a.ql-action::after {
  border-right: 1px solid #ccc;
  content: 'Edit';
  margin: 0 8px !important;
}

input::placeholder,
textarea::placeholder {
  font-style: italic;
  font-family: Inter;
}

.tournament {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tournament > span {
  display: none;
  font-size: 14px;
}

.tournament > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tournament > .btn-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.btn {
  padding: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.btn-cancelar {
  color: var(--red-button);
  border: 1px solid var(--red-button);
  background: rgba(0, 0, 0, 0);
}

.btn-salvar {
  color: var(--bg);
  border: 1px solid var(--green-button-hover);
  background: var(--green-button);
}

.btn-salvar:hover {
  background: var(--green-button-hover);
}

.btn-cancelar:hover {
  background: var(--red-button);
  color: var(--color);
}
