table {
    border-collapse: collapse;
    height: 60vh;
    width: 80%;
    margin: auto;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 100px;
}

caption {
    margin-bottom: 20px;
    font-size: 30px;
    font-family: "Bungee", sans-serif;
    background: linear-gradient(to bottom, #F20675 0%, #07F3F3 100%);
    background-clip: text;
    color: transparent;
}

.titulo-tabela {
    font-family: "Bungee", sans-serif;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    letter-spacing: 1px;
}

td {
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

td:nth-child(7) {
    border-right: none;
}

.win {
    color: #46EB34;
}

.lose {
    color: #EB3434;
}

.score {
    color: #FFD700;
}

.button {
    color: #000;
    width: 70%;
    height: 30px;
    font-family: "Bungee", sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(to top, #F20675 0%, #07F3F3 100%);
    background: linear-gradient(to right, #F20675 0%, #07F3F3 100%);
}